* {
    box-sizing: border-box;
}
#header {
    width: 100vw;
    height: 100px;

    background-color: lightgray;

    font-family: 'Courier New', Courier, monospace;
    font-size: 25pt;
    color: black;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main {
    width: 100vw;
    height: 500px;

    background-color: grey;

    display: flex;
}

#resourcesect {
    width: 70vw;
    height: 500px;

    padding: 10px;
    display: flex;
}

#resourcecount {
    width: 25%;
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

#resourcecount img {
    height: 25px;
    width: 25px;
    justify-self: center;
    align-self: center;

    background-color: greenyellow;
}

.resourcelevel {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    padding: 10px 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
}

#resourcegather {
    width: 50%;
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

#console {
    width: 30vw;
    height: 500px;
    padding: 25px;
    overflow: auto;

    background-color: greenyellow;

    font-family: monospace;
    font-size: 15pt;
}

.button {
    background-color: darkslategrey;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;

    height: 50px;
    width: 150px;
}

#buildingsect {
    width: 100%;
    height: 250px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    background-color: lightgrey;
}

.buildingcontainer {
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.plus {
    background-image: url("img/system/plus.png");
    background-size: 20px 20px;
    background-position: center;
    height: 30px;
    width: 30px;
}

.minus {
    background-image: url("img/system/minus.png");
    background-size: 20px 20px;
    background-position: center;
    height: 30px;
    width: 30px;
}